<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="datx02_rally.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <datx02_rally.GameSettings>
            <setting name="PerformanceMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>1366</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>UnnamedPlayer</value>
            </setting>
            <setting name="Shadows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Bloom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CarColor" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
        </datx02_rally.GameSettings>
    </userSettings>
</configuration>